@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.car-main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  background-color: darkorange;
}
.img-main {
  filter: drop-shadow(0px 0px 80px white);
  transform: translateX(-60px);
}
.img-main img {
  height: 100vh;
}
.text {
  width: 30rem;
  line-height: 1.4;
  padding: 1rem 1.5rem;
}
.text h1 {
  font-size: xx-large;
}
.text p {
  padding: 1.5rem 0rem;
}
.button-car-one {
  padding: 0.5rem 1.5rem;
  border-radius: 40px;
  width: 10rem;
  font-size: large;
  font-weight: 600;
  border: 2px solid white;
  background-color: darkorange;
  color: white;
}
.card-list img {
  border-radius: 50%;
  height: 7rem;
  margin-bottom: 10px;
}
.active {
  border: 3px solid white;
}
/* card-main-two */
.two {
  background-color: black;
}
.button-car-two {
  background-color: black;
  padding: 0.5rem 1.5rem;
  border-radius: 40px;
  width: 10rem;
  font-size: large;
  font-weight: 600;
  border: 2px solid white;
  color: white;
}
/* card-main-three */
.three {
  background-color: darkred;
}
.button-car-three {
  padding: 0.5rem 1.5rem;
  border-radius: 40px;
  width: 10rem;
  font-size: large;
  font-weight: 600;
  border: 2px solid white;
  background-color: darkred;
  color: white;
}
/* card-main-four */
.four {
  background-color: rgba(82, 7, 7, 0.811);
}
.button-car-four {
  padding: 0.5rem 1.5rem;
  border-radius: 40px;
  width: 10rem;
  font-size: large;
  font-weight: 600;
  border: 2px solid white;
  background-color: rgba(82, 7, 7, 0.811);
  color: white;
}
/*display:none*/
.none {
  display: none;
}
/* make effect */
.img-main img {
  transform: scale(0.9) translateY(-10px);
}
img:hover {
  transform: scale(1);
  transition: all 1s ease-in-out;
}
